*{
    padding: 0;
    margin: 0;
}
footer{
    display: flex;
    align-items: top;
    justify-content: space-around;
    width: 100%;
    height: 150px;
}
h1{
    color: white;
    font-family: 'bold', sans-serif;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    font-weight:700;
}
p{
    color: #99a1af;
    font-family: 'bold',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    
}
.social{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    align-items: center;
    gap: 15%;
}
.redes{
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.contatos{
    width: 200px;
}

li div{
    display: flex; 
    width: 200px;
    gap: 5%;
}
.pequeno{
    display: none;
}
.junto{
    display: flex;
    box-sizing: border-box;
    gap: 18%;
    height: 100px;
}
@media (max-width: 1000px){
   
    .social{
        width: 200px;
    }
    h1{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
        text-align: center;
    }
    .redes{
        width: 100px;
    }
    .contatos{
        width: 120px;
    }
    .textcont{
        font-size: 0.8rem;
    }
    .direitos{
        font-size: 0.7rem;
    }
}
@media (max-width: 500px){
    .grande{
        display: none;
    }
    .pequeno{
        display: flex;
        flex-direction: column;
        
    }
    .direitos{
        padding-top: 1%;
    }
     .contatos{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .textcont{
        width: 155px;
        text-align: right;
    }
    
}