<footer>
    <div class="social">
        <div class="text">
        <h1>SportSecurity</h1>
        <p>Segurança para sua velocidade</p>
        </div>
        <div class="redes">
            <img src="../../../assets/facebook.png" alt="">
            <img src="../../../assets/instagram.png" alt="">
            <img src="../../../assets/twitter.png" alt="">
            <img src="../../../assets/whatsapp.png" alt="">
        </div>
    </div>
    <p style="padding-top: 100px;">&copy;SportSecurity todos os direitos reservados.</p>
    <div class="contatos">
        <ul style="display: flex; flex-direction: column;gap: 15px;">
            <li><div><img src="../../../assets/whatsapp.png" alt=""><p>Whatsapp</p></div></li>
            <li><div><img src="../../../assets/chamada-telefonica.png" alt=""><p>+55 71 4002-8922</p></div></li>
            <li><div><img src="../../../assets/o-email.png" alt=""><p>SportSecurity&#64;security.com</p></div></li>
            <li><div><img src="../../../assets/gps.png" alt=""><p>Salvador - BA</p></div></li>
        </ul>
    </div>
</footer>