<footer class="grande">
    <div class="social">
        <div class="text">
        <h1>SportSecurity</h1>
        <p>Segurança para sua velocidade</p>
        </div>
        <div class="redes">
            <img src="../../../assets/facebook.png" alt="">
            <img src="../../../assets/instagram.png" alt="">
            <img src="../../../assets/twitter.png" alt="">
            <img src="../../../assets/whatsapp.png" alt="">
        </div>
    </div>
    <p class="direitos" style="padding-top: 100px;">&copy;SportSecurity todos os direitos reservados.</p>
    <div class="contatos">
        <ul style="display: flex; flex-direction: column;gap: 15px;">
            <li><div><img src="../../../assets/whatsapp.png" alt=""><p class="textcont">Whatsapp</p></div></li>
            <li><div><img src="../../../assets/chamada-telefonica.png" alt=""><p class="textcont">+55 71 4002-8922</p></div></li>
            <li><div><img src="../../../assets/o-email.png" alt=""><p class="textcont">SportSecurity&#64;security.com</p></div></li>
            <li><div><img src="../../../assets/gps.png" alt=""><p class="textcont">Salvador - BA</p></div></li>
        </ul>
    </div>
</footer>

<footer class="pequeno">
    <div class="junto">
        <div class="social">
            <div class="text">
            <h1>SportSecurity</h1>
            <p>Segurança para sua velocidade</p>
            </div>
            <div class="redes">
                <img src="../../../assets/facebook.png" alt="">
                <img src="../../../assets/instagram.png" alt="">
                <img src="../../../assets/twitter.png" alt="">
                <img src="../../../assets/whatsapp.png" alt="">
            </div>
        </div>
    
        <div class="contatos">
            <ul style="display: flex; flex-direction: column;gap: 15px;">
                <li><div><p class="textcont">+55 71 4002-8922</p><img src="../../../assets/chamada-telefonica.png" alt=""></div></li>
                <li><div><p class="textcont">SportSecurity&#64;security.com</p><img src="../../../assets/o-email.png" alt=""></div></li>
                <li><div><p class="textcont">Salvador - BA</p><img src="../../../assets/gps.png" alt=""></div></li>
            </ul>
        </div>
    </div>
     <p class="direitos">&copy;SportSecurity todos os direitos reservados.</p>
</footer>