*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hamburger {
  display: none; /* esconde em telas grandes */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

header{
    display: flex;
    height: 65px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-block-end: 0.3px solid rgba(0,0,0,0.2);
    /*background-color: rgba(128, 128, 128, 0.3);*/
    backdrop-filter: blur(13px);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 2;
}
h1{
    color: white;
    font-family: 'bold', sans-serif;
    width: 150px;
    font-size: 1.5rem;
    font-weight:700;
}

.marca{
    display: flex;
    align-items: center;
    flex:1;
    font-size: 14px;
    width: 350px;
    box-sizing: border-box;
    padding-left: 10px;
    
}

nav{
    display: flex;
    position: absolute;
    gap: 10%;
}
nav a{
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-size: 18px;
    font-family: 'bold', sans-serif;
}

.nomeUsuario{
    color: rgb(167, 167, 167);
    font-size: 18px;
    font-family: 'bold', sans-serif;
    text-decoration: none;
}

.logado{
    padding-left: 7%;
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-size: 18px;
    font-family: 'bold', sans-serif;
}

.entrar{
    padding-right: 2%;
}

dialog{
    border-radius: 20px;
    left: 37%;
    top: 15%;
    
}

@media (max-width: 1000px) {
  /* Mostrar hamburger */
  .entrar{
    padding-right: 10%;
}
header{
    height: 50px;
}

h1{
    font-size: 1rem;
}
  .hamburger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  /* Esconder menu padrão */
  nav.cabecalho-menu {
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    width: 200px;
    display: none; /* inicial */
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    z-index: 3;
  }

  /* Abrir menu ao clicar */
  nav.cabecalho-menu.open {
    display: flex;
  }

  nav.cabecalho-menu a {
    padding: 10px 0;
  }
}
@media (max-width: 560px){
 .entrar{
    padding-right: 15%;
}
}