*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 65px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-block-end: 0.3px solid rgba(0,0,0,0.2);
    /*background-color: rgba(128, 128, 128, 0.3);*/
    backdrop-filter: blur(13px);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 2;
}
h1{
    color: white;
    font-family: 'bold', sans-serif;
    width: 150px;
    font-size: 1.5rem;
    font-weight:700;
}

.marca{
    display: flex;
    align-items: center;
    flex:1;
    font-size: 14px;
    width: 350px;
    box-sizing: border-box;
    padding-left: 10px;
    
}

nav{
    display: flex;
    position: absolute;
    gap: 10%;
}
nav a{
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-size: 18px;
    font-family: 'bold', sans-serif;
}
