<header class="cabecalho">
  <div class="marca">
   <a style="text-decoration: none;" href="#"> <h1>SportSecurity</h1></a>
  </div>

  <nav class="cabecalho-menu">
    <a class="txtnav" href="#">Início</a>
    <a class="txtnav" href="#descricao">Benefícios</a>
    <a class="txtnav" href="#planos">Planos</a>
    <a class="txtnav" href="#contato">Contato</a>
  </nav>

  <!-- Se estiver logado -->
  <ng-container *ngIf="user; else naoLogado">
    <a class="nomeUsuario" *ngIf="user" routerLink="/perfil" >Perfil</a>
    <a class="logado" href="#" (click)="logout()">Sair</a>
  </ng-container>

  <!-- Se não estiver logado -->
  <ng-template #naoLogado>
    <a class="logado" style="padding-right: 20px;" href="#" (click)="modalOpen($event)">Login</a>
  </ng-template>
</header>

<!-- Seus modais permanecem iguais -->
<dialog #loginDialog #dialogRef id="loginModal" class="modal">
  <app-login (close)="loginDialog.close()" (openRegister)="abrirCadastro()"></app-login>
</dialog>

<dialog #registerDialog class="modal">
  <app-cadastro (close)="fecharCadastro()" (openLogin)="abrirLogin()"></app-cadastro>
</dialog>
