<section class="conteudo">
    <div class="paragrafo">
        <p><img style="position: relative; top: 3px;padding-right: 3px;" src="../../../assets/shield.png" alt="">
        Proteção Especializada</p>
    </div>
    <h2>Porque escolher a SportSecurity?</h2>
    <p class="p">Combinamos expertise em carros esportivos, atendimento premium e cobertura especializada para criar a melhor experiência de seguro do mercado.</p>

    <div class="cards">
        <div class="card1">
            <img style="width: 32px;" src="../../../assets/clock.png" alt="">
            <h3>Assistência 24/7</h3>
            <p style="width: 214px;">Atendimento especializado disponível 24 horas por dia, 7 dias na semana.</p>
        </div>
        <div class="card2"></div>
        <div class="card3"></div>
        <div class="card4"></div>
    </div>
</section>