<section  id="descricao" class="conteudo">
    <div class="paragrafo">
        <p><img style="position: relative; top: 3px;padding-right: 3px;" src="../../../assets/shield.png" alt="">
        Proteção Especializada</p>
    </div>
    <h2>Por que escolher a SportSecurity?</h2>
    <p class="p">Combinamos expertise em carros esportivos, atendimento premium e cobertura especializada para <br> criar a melhor experiência de seguro do mercado.</p>

    <div class="cards">
        <div class="card1">
            <img src="../../../assets/clock.png" alt="">
            <h3>Assistência 24/7</h3>
            <p style="width: 214px;">Atendimento especializado disponível 24 horas por dia, 7 dias na semana.</p>
            </div>
        <div class="card2">
            <img src="../../../assets/shield2.png" alt="">
            <h3>Proteção Nacional</h3>
            <p style="width: 214px;">Cobertura total com rede de oficinas especializadas em todo país.</p>
        </div>
        <div class="card3">
            <img src="../../../assets/engrenagem.png" alt="">
            <h3>Planos Personalizados</h3>
            <p style="width: 214px;">Coberturas que se adaptam perfeitamente ao seu perfil e necessidades."</p>
        </div>
        <div class="card4">
            <img style="width: 52px;" src="../../../assets/coroa.png" alt="">
            <h3>Concierge Premium</h3>
            <p style="width: 214px;">Assistência VIP com carros de luxo e atendimento prioritário exclusivo.</p>
        </div>
    </div>
</section>