*{
    padding: 0;
    margin: 0;
}

.conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
   
}

h2{
    color: white;
    font-family: 'bold', sans-serif;
    font-size: 3.75rem;
    position: relative;
    text-align: center;
    top:20%;
    font-weight:700;
    
}
.paragrafo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    width: 100%;
    font-family: 'bold', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    position: relative;
    top: 15%; 
}
.p{
    color: #99a1af;
    font-family: 'bold',sans-serif;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    position: relative;
    top: 22%;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 268px;
    position: relative;
   padding-top: 14%;
    gap: 3%;
}

h3{
    color: white;
    font-family: 'bold',sans-serif;
    font-weight: 700;
    font-size: 1.25rem;

}

.card1{
    position: relative;
    width: 278px;
    height: 268px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    color: #99a1af;
    font-family: 'bold',sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.card1 > * {
    position: relative;
    z-index: 1;
}

.card1::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 1, 14, 0.8); /* camada preta */
}

.card1:hover{
    box-shadow: 10px 15px 25px rgb(0, 0, 0);
    margin-block-end: 10px;
    background: linear-gradient(130deg,rgba(0, 79, 89, 1) 51%, rgba(35, 0, 112, 1) 100%);
    transition-duration: 0.2s; 

}

.card2{
    position: relative;
    width: 278px;
    height: 268px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    color: #99a1af;
    font-family: 'bold',sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.card2 > * {
    position: relative;
    z-index: 1;
}
.card2::after{
    content: "";
    position: absolute;
    inset: 0;
    background:rgba(0, 1, 14, 0.8); /* camada preta */
}

.card2:hover{
    box-shadow: 10px 15px 25px rgb(0, 0, 0);
    margin-block-end: 10px;
    background: linear-gradient(130deg,rgba(0, 79, 89, 1) 51%, rgba(35, 0, 112, 1) 100%);
    transition-duration: 0.2s; 

}

.card3{
    position: relative;
    width: 278px;
    height: 268px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    color: #99a1af;
    font-family: 'bold',sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.card3 > * {
    position: relative;
    z-index: 1;
}
.card3::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 1, 14, 0.8); /* camada preta */
}

.card3:hover{
    box-shadow: 10px 15px 25px rgb(0, 0, 0);
    margin-block-end: 10px;
    background: linear-gradient(130deg,rgba(0, 79, 89, 1) 51%, rgba(35, 0, 112, 1) 100%);
    transition-duration: 0.2s; 

}

.card4{
    position: relative;
    width: 278px;
    height: 266px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    color: #99a1af;
    font-family: 'bold',sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.card4 > * {
    position: relative;
    z-index: 1;
}
.card4::after{
    content: "";
    position: absolute;
    inset: 0;
    background:rgba(0, 1, 14, 0.8); /* camada preta */
}

.card4:hover{
    box-shadow: 10px 15px 25px rgb(0, 0, 0);
    margin-block-end: 10px;
    background: linear-gradient(130deg,rgba(0, 79, 89, 1) 51%, rgba(35, 0, 112, 1) 100%);
    transition-duration: 0.2s; 

}
