<section class="conteudo">
    <div class="paragrafo">
        <p><img style="position: relative; top: 3px;padding-right: 3px; width: 16px;" src="../../../assets/star.png" alt=""> Planos Especializados</p>
    </div>
    <h2>Escolha o plano ideal</h2>
    <p class="p">Cada plano é desenvolvido especialmente para carros esportivos, adaptado ao seu perfil e <br> necessidades específicas.</p>
    <div class="cards">
        <div class="plan1">
            <div class="textos">
                <img src="../../../assets/shield2.png" alt="">
                <h3>Essencial</h3>
                <p>Proteção completa para seu esportivo</p>
                <p><span>R$ 299</span>/mês</p>
            </div>
            <th>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Cobertura total</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Assistência 24h</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Guincho especializado até 150km</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Carro reserva por 10 dias</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">App mobile</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Oficinas credenciadas</td>
                </tr>
            </th>
        </div>
        <div class="plan2">
            <div class="textos">
                <img style="width: 52px;" src="../../../assets/coroa.png" alt="">
                <h3>Premium</h3>
                <p>Cobertura premium com benefícios VIP</p>
                <p><span>R$ 599</span>/mês</p>
                </div>
            <th>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Cobertura ampliada</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Concierge personalizado</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Guincho de luxo ilimitado</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Carro premium por 30 dias</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Manutenção preventiva</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Proteção 360°</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Vidros e lanternas</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Suporte prioritário VIP</td>
                </tr>      
            </th>
        </div>
        <div class="plan3">
            <div class="textos">
                <img src="../../../assets/foguete.png" alt="">
                <h3>Elite</h3>
                <p>Máxima proteção com serviços exclusivos</p>
                <p><span>R$ 999</span>/mês</p>
            </div>
            <th>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Cobertura internacional</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Assistente pessoal dedicado</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Frota de luxo exclusiva</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Oficinas certificadas de fábrica</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Peças originais garantidas</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Proteção mundial</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Concierge lifestyle 24/7</td>
                </tr>
                <tr style="display: flex; gap: 5%; padding-block-end: 5%;">
                    <td><img src="../../../assets/check.png" alt=""></td><td class="tdtext">Seguro de acessórios premium</td>
                </tr>
            </th>
        </div>
    </div>
</section>