*{
    padding: 0;
    margin: 0;
}

.conteudo{
    width: 100%;
    height: 900px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-block-end: 200px;
}

h2{
    color: white;
    font-family: 'bold', sans-serif;
    font-size: 3.75rem;
    position: relative;
    text-align: center;
    top:20%;
    font-weight:700;
    
}

h3{
    color: white;
    font-family: 'bold',sans-serif;
    font-weight: 700;
    font-size: 1.25rem;

}

.paragrafo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    width: 100%;
    font-family: 'bold', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    position: relative;
    top: 15%; 
}
.p{
    color: #99a1af;
    font-family: 'bold',sans-serif;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    position: relative;
    top: 22%;
}

.cards{
    display: flex;
    justify-content: center;
    padding-top: 17%; 
    height: 713px;
    width: 1216px;
    gap: 5%;
}

.plan1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.plan2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.plan3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.butplan {
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 35px;
    border: none;
    background-color: rgb(0, 1, 22);
    border-radius: 15px;
    color:  #99a1af;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.butplan:hover {
    background-color: rgb(0, 3, 31);
    color: #ffffff;
}

.textos{
    display: flex;
    width: 332px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block-end: 10%;
}

.textos,p{
    color: #99a1af;
    font-family: 'bold',sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

span{
    color: white;
    font-family: 'bold',sans-serif;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
}

td{
    color:  #99a1af;
    font-family: 'bold',sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.tdtext{
    width: 270px;
    text-align: left;
}